@model MaleFashion.Models.KhachHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/PrivatePages/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có muốn xóa người dùng này không?</h3>
<table class="table">
    <thead>
        <tr>
            <th>Thuộc tính</th>
            <th>Dữ liệu</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayNameFor(model => model.HoTen)</td>
            <td>@Html.DisplayFor(model => model.HoTen)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.SDT)</td>
            <td>@Html.DisplayFor(model => model.SDT)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DiaChi)</td>
            <td>@Html.DisplayFor(model => model.DiaChi)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.TenDangNhap)</td>
            <td>@Html.DisplayFor(model => model.TenDangNhap)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MatKhau)</td>
            <td>@Html.DisplayFor(model => model.MatKhau)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.EMAIL)</td>
            <td>@Html.DisplayFor(model => model.EMAIL)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.NgaySinh)</td>
            <td>@Html.DisplayFor(model => model.NgaySinh)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.DonDatHangs)</td>
            <td>
                <ul>
                    @foreach (var order in Model.DonDatHangs)
                    {
                        <li>@order.TenDH</li>
                    }
                </ul>
            </td>
        </tr>

    </tbody>
</table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
