@model MaleFashion.Models.KhachHang
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="login-card-container">
    <div class="login-card">
        <div class="login-card-logo">
            <img src="~/img/logo2.png" alt="logo" />
        </div>
        <div class="login-card-header">
            <h1>Sign Up</h1>
            <div>Please register to use the platform</div>
        </div>
        @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @class = "login-card-form" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-item">
                <label for="HoTen">
                    <span class="form-item-icon material-symbols-rounded">person</span>
                    @Html.TextBoxFor(m => m.HoTen, new { placeholder = "Enter Full Name", @class = "form-control", required = "required" })
                </label>
            </div>
            <div class="form-item">
                <label for="TenDangNhap">
                    <span class="form-item-icon material-symbols-rounded">account_circle</span>
                    @Html.TextBoxFor(m => m.TenDangNhap, new { placeholder = "Enter User Name", @class = "form-control", required = "required" })
                </label>
            </div>
            <div class="form-item">
                <label for="MatKhau">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    @Html.PasswordFor(m => m.MatKhau, new { placeholder = "Enter Password ", @class = "form-control", required = "required" })
                </label>
            </div>
            <div class="form-item">
                <label for="EMAIL">
                    <span class="form-item-icon material-symbols-rounded">calendar_month</span>
                    @Html.TextBoxFor(m => m.EMAIL, new { placeholder = "Enter Email", @class = "form-control", required = "required", type = "Email" })
                </label>
            </div>
            <div class="form-item">
                <label for="SDT">
                    <span class="form-item-icon material-symbols-rounded">call</span>
                    @Html.TextBoxFor(m => m.SDT, new { placeholder = "Enter Phone Number", @class = "form-control", required = "required" })
                </label>
            </div>


            <h6>@ViewBag.error</h6>

            <button type="submit">Sign Up</button>

        }
        <div class="login-card-footer">
            ALREADY HAVE AN ACCOUNT? <a href="@Url.Action("Login","Home")">Sign In Now.</a>
        </div>
    </div>
    <div class="login-card-social">
        <div>Other Sign-Up Options</div>
        <div class="login-card-social-btns">
            <a href="https://vi-vn.facebook.com/">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
                     width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                </svg>
            </a>
            <a href="https://www.google.com.vn/?hl=vi">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google" width="24"
                     height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none"
                     stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>
                </svg>
            </a>
        </div>
    </div>
</div>
